@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #0086A4;
}

.gradient_background {
  background: linear-gradient(90deg, #00A0C3, #22C2D8);
  height: auto;
  width: auto;
};

.button_blue {
  background: linear-gradient(180deg, #00A0C3, #22C2D8);
  height: auto;
  width: auto;
};

/* table {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
};

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}; */